.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*/build/
/captures
.signing/
.idea/libraries/
.idea/.name
.idea/*.xml
!.idea/gradle.xml
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db