<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.on.conestogac.cmms" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label= "@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchMachineActivity"
            android:label="@string/title_activity_search_machine"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchRequestActivity"
            android:label="@string/title_activity_search_request"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BusinessReportActivity"
            android:label="@string/title_activity_business_report"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchMachineQRActivity"
            android:label="@string/title_activity_search_machine_qr"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchMachineListActivity"
            android:label="@string/title_activity_search_machine_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MachineInformationActivity"
            android:label="@string/title_activity_machine_information"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchRequestListActivity"
            android:label="@string/title_activity_search_request_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DisplayRequestActivity"
            android:label="@string/title_activity_display_request"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DisplayMaintenanceLogActivity"
            android:label="@string/title_activity_display_maintenance_log"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MaintenanceLogListActivity"
            android:label="@string/title_activity_maintenance_log_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
